<?xml version="1.0"?>
<config>
	<modules>
		<Ccc_Practice2>
			<version>0.0.1</version>
		</Ccc_Practice2>
	</modules>
	<admin>
		<routers>
			<practice2>
				<use>admin</use>
				<args>
					<module>Ccc_Practice2</module>
					<frontName>practice2</frontName>
				</args>
			</practice2>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<practice2>
				<title>Practice 2</title>
				<sort_order>501</sort_order>
				<children>
					<practice2>
						<title>Manage Practice 2</title>
						<sort_order>0</sort_order>
						<action>practice2/adminhtml_practice2</action>
					</practice2>
				</children>
			</practice2>
		</menu>

		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>

				<admin>
					<children>
						<title>Manage Practice 2</title>
						<sort_order>0</sort_order>
					</children>
				</admin>
			</resources>
		</acl>

		<layout>
			<updates>
				<practice2>
					<file>practice2.xml</file>
				</practice2>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<models>
			<practice2>
				<class>Ccc_Practice2_Model</class>
				<resourceModel>ccc_practice2_resource</resourceModel>
			</practice2>
				<ccc_practice2_resource>
					<class>Ccc_Practice2_Model_Resource</class>
					<entities>
						<practice2>
							<table>ccc_practice2</table>
						</practice2>	
					</entities>
				</ccc_practice2_resource>
			
		</models>

		<blocks>
			<practice2>
				<class>Ccc_Practice2_Block</class>
			</practice2>
		</blocks>
		<resources>
			<practice2_setup>
				<setup>
					<module>Ccc_Practice2</module>
				</setup>
			</practice2_setup>
		</resources>
		<helpers>
			<practice2>
				<class>Ccc_Practice2_Helper</class>
			</practice2>
		</helpers>
	</global>
</config>